.button-main {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color2);
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 0.5rem 2rem;
  margin: 1rem 1rem;
  cursor: pointer;
  color: #e8e8e8;
  text-transform: uppercase;
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 32px;
}
