.menu-container {
  margin: 2rem auto 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.page01-wrapper {
  display: flex;
  align-items: center;
}

.menu-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 16px;
}

.menu-prenom {
  color: #e8e8e8;
  font-size: 40px;
}

.menu-level {
  color: #e8e8e8;
  font-size: 30px;
}
